fastapi
uvicorn[standard]
requests
geocoder
python-dotenv
pymongo
pandas
numpy
scikit-learn
spacy
openai
google-generativeai
yake
chromadb
langchain_google_genai
langchain-community
faiss-cpu
sentence-transformers
